<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573056702693-hfknad057ncefohq37f70ne5uqbp3iq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573056702693-hfknad057ncefohq37f70ne5uqbp3iq8</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Bf3jVK3DNTtfxJ3eCuON80IHd2X9LHw</string>
	<key>GCM_SENDER_ID</key>
	<string>573056702693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryotaiwamoto.riverpodFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firebase-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firebase-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573056702693:ios:3fba6c63eb7e4eec231c0c</string>
</dict>
</plist>